/***************************************
  basics
***************************************/

html {
  background: White;
}

html , body , .root , .App {
  height: 100%;
  width: 100%;
}

/***************************************
  generics
***************************************/

.App section {
  width: 100%;
  padding: 16px;
}

.App section > header {
  color: White;
  text-align: center;
}

.card {
  background: White;
  box-shadow: 0 0 8px rgba(0 , 0 , 0 , 50%);

  border-radius: 16px;
  padding: 16px;
}

.card-deck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/***************************************
  App
***************************************/
